<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ title }}</h1>
      <address>
        <strong>Some Company, Inc.</strong><br>
        007 street<br>
        Some City, State XXXXX<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Somebody</strong><br>
        <a href="mailto:#">mailto@somedomain.com</a>
      </address>
      <button type="submit" class="btn btn-primary">HELLO</button>
    </div>
  </div>
</div>